.top-songs-container {
  padding-bottom: 5%;
  overflow-y: scroll;
  height: 50vh;

  width: 100%;
  padding-top: 20px;

  display: flex;
  flex-direction: column;
  gap: 22px;
}

.top-songs-container::-webkit-scrollbar-thumb {
  background-color: skyblue;
  color: skyblue;
}
.top-songs-container::-webkit-scrollbar-track {
  background-color: skyblue;
  color: skyblue;
}

.container-song {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  border-radius: 8px;
  margin: 2px 0px;
  background: var(--background-secondary-color);
}

.container-song .cover-container {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin: 0 20px;
  border-radius: 5px;
  overflow: hidden;
}

.container-song .cover-container img {
  width: 100%;
  height: auto;
}

.container-song .info-container {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  margin-left: 10px;
}

.container-song .info-container span {
  font-weight: 700;
}

.container-song .info-container .contributors .track-artist {
  color: var(--red-pale);
  font-size: 0.8rem;
  margin: 0;
}

.container-song .duration {
  position: absolute;
  right: 125px;
  min-width: 45px;
  margin: 0;
  font-size: 0.8rem;
}
.icon-controller {
  position: absolute;
  right: 60px;
  transition: all 0.2s ease-out;
}

.icon-controller:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
}
.icon-controllers {
  position: absolute;
  right: 30px;
  transition: all 0.2s ease-out;
}

.icon-controllers:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 432px) {
  .container-song .duration {
    display: none;
  }

  .top-songs-container{
    width: 88vw !important;
  }
}
