.home-button,
.upload-button {
  text-align: center;
  width: 150px;
  object-fit: cover;
  background-color: #1a73e8;
  color: white;
  border: none;

  padding: 8px 15px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-button:hover,
.upload-button:hover {
  background-color: #0f62fe;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 600px;
}
